*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h1{
    display: inline-flex;
    font-size: 10px  bold;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-size: 35px;
}
header , footer{
    margin: 0%;
    background-color: #008080;
    justify-content: space-between;
    display: inline-flex;
    padding: 5px;
    width: 100%;
    height: 120px;
}
.container-logo{
    margin: 5px 10px 0px 10px;
    padding: 10px 40px 10px 10px;
    border-radius: 3px;
    display: inline-flex;
}
.container-logo:hover{
    background-color: #00FFFF;
    border-radius: 10px;
}
nav li{
    display: inline;

}
.menu{
    margin: 20px 250px 50px 0px;
    padding: 20px 250px 20px 20px;
}
.menu li :hover{
    background-color: #00FFFF;
    border-radius: 10px;
}
.menu a{
    text-decoration: none;
    list-style: none;
    margin: 50px;
    color: rgb(15, 14, 14);
    font-size: 25px  ;
    padding: 8px 10px;
}


/* corpo */

.apresentacao{
    width: 80%;
    margin: 100px 300px;
    padding: 50px;
    display: inline-flex;
}
.imagem1{
    width: 400px;
    margin: 10px;
}

.texto_apresentacao p{
    width: 300px;
}

/* FOOTER */

.redes  {
    width: 40%;
    margin-left: 35%;
    margin-top: 15px;
}

.redes li a{
    text-decoration: none;
    margin-left: 60px;
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
    color: rgb(15, 14, 14);

}
.redes nav{
    display: inline-flex;
}
